<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>931160418003-v9276vkdl7u3l2uaqsnf9qd5peb2tbt4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.931160418003-v9276vkdl7u3l2uaqsnf9qd5peb2tbt4</string>
	<key>API_KEY</key>
	<string>AIzaSyCgZUZL9i-rgNVsAAJV8otmeQVjhkWcLG0</string>
	<key>GCM_SENDER_ID</key>
	<string>931160418003</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.devcore.hardCoded</string>
	<key>PROJECT_ID</key>
	<string>hardcode-app</string>
	<key>STORAGE_BUCKET</key>
	<string>hardcode-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:931160418003:ios:e03d120afabe8cd3</string>
	<key>DATABASE_URL</key>
	<string>https://hardcode-app.firebaseio.com</string>
</dict>
</plist>